<!DOCTYPE html>
<html lang="vi">

<% include ../layout/head %>
    <body>
        <h2>Login</h2>
        <div id="signup-form" class="">
            <div class="form-group">
                <label> Username </label>
                <input class="form-control" type="text" id="username" />
            </div>
            <div class="form-group">
                <label> Password </label>
                <input class="form-control" type="password" id="password" />
            </div>
            <button class="btn btn-primary mt-3" id="btn-login-submit">Login</button>
        </div>

        <% include ../layout/footer %>
        <script src="/public/javascripts/auth.js"></script>
    </body>

</html>